@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

body {
  background-image: linear-gradient(
    to right top,
    #1f0537,
    #380c60,
    #55108c,
    #7413bb,
    #9612eb
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Chewy", cursive;
}

.card {
  position: relative;
  width: 300px;
  height: 425px;
  border: 10px solid #9612eb;
  margin: 60px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1527481138388-31827a7c94d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #e6f0e6;
}
.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}
.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-size: 1.5em;
  margin: 60px auto 0px auto;
}
.name {
  font-size: 1.5rem !important;
  padding: 0px !important;
  font-weight: 1000;
  letter-spacing: 1px;
}

.card p {
  font-size: 1.3em;
  line-height: 1.4;

  color: #331717;

  text-align: center;
  margin: 20px auto 0px auto;
  margin-bottom: 0px;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #9612eb;
  backface-visibility: hidden;
  background-color: #9612eb;
  /* background-image: url($cover-image);
	 */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}
.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}
.emoji {
  font-size: 5rem !important;
}
.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2;
}
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #9612eb;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: #e6f0e6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset {
  position: relative;
  z-index: 1;
  margin-bottom: -215px;
}
.imgset img {
  box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
footer {
  text-align: center;
  margin-top: 20rem;
}
footer p {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.2rem;
}

/* section css starts  */
.container {
  display: inline;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin-top: 10rem;
  letter-spacing: 2px;
}
.card-For-Her {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}
h1 {
  color: white;
}
p {
  line-height: 1.6;
  font-size: 1.2rem;
}
.highlight {
  color: wheat;
  font-weight: bold;
}
.emoji {
  font-size: 24px;
}
