@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Shadows+Into+Light&display=swap");

:root {
  --primary-color: rgb(254, 169, 183);
  --secondary-color: rgb(255, 133, 153);
  --base-font-size: 2.5rem;
  --heading-font-size: 2rem;
  --shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.8),
    inset -5px -5px 10px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--primary-color);
}
.container-header {
  margin-top: 22vh;
}
.card h1 {
  background-color: var(--secondary-color);
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  border-radius: 3rem;
  box-shadow: var(--shadow);
  font-size: var(--base-font-size);
}
.card {
  animation: upDown 3s ease-in-out 1s forwards;
}
@keyframes upDown {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-15vh);
  }
}

.btn-container {
  padding: 10px;
  animation: fadeUp 4s ease-in-out forwards;
  font-size: var(--base-font-size);
  text-align: center;
  box-shadow: var(--shadow);
  width: 70%;
  margin: auto;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  cursor: pointer;
  z-index: -2;
}
@keyframes fadeUp {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-10vh);
  }
}

.bubble {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color); /* Hot pink color */
  transform: rotate(-45deg);
  animation: moveUp 5s linear infinite;
  z-index: 1; /* Animation to move up */
}
.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color); /* Hot pink color */
  border-radius: 50%; /* Make it circular */
}
.bubble::before {
  top: -50px; /* Position the top circle */
  left: 0;
}

.bubble::after {
  left: 50px; /* Position the right circle */
}

@keyframes moveUp {
  0% {
    transform: translateY(0) rotate(-45deg);
    opacity: 1; /* Start fully visible */
  }
  100% {
    transform: translateY(-1000px) rotate(-45deg); /* Move up */
    opacity: 0; /* Fade out at the top */
  }
}
